@model IEnumerable<Garage2Mvc.Models.ParkedVehicle>

@{
    ViewBag.Title = "Garage";
}

<h2>Garage</h2>

@using (Html.BeginForm())
{

    <div class="indeximg"></div>
    <p>
        Find by RegistrationNo: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ParkTime)*@
            @Html.ActionLink("CheckIn", "Index", new { sortOrder = ViewBag.DateSortVehicle })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.VTName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.FirstName)
            @Html.DisplayFor(modelItem => item.Member.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkTime)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |

            @Html.ActionLink("CheckOut", "CheckOut", new { id = item.Id })

        </td>

    </tr>

    }

</table>
